---
layout: layout.liquid
title: Planetary Playing Cards
---

    <div class="card-container-1">
        <main class="card-content">
            <figure class="Sun"></figure>
                <li class="Star">
                    Sun  
                </li>

                <li>
                    Type: G2v  
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Mercury"></figure>
                <li class="Name">
                    Mercury 
                </li>
                <li>
                    AU: 0.4
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Venus"></figure>
                <li class="Name">
                    Venus
                </li>
                <li>
                    AU: 0.72
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Earth"></figure>
                <li class="Name">
                    Earth
                </li>
                <li>
                    AU: 1
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Mars"></figure>
                <li class="Name">
                    Mars
                </li>
                <li>
                    AU: 1.5
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Jupiter"></figure>
                <li class="Name">
                    Jupiter
                </li>
                <li>
                    AU: 5.2
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Saturn"></figure>
                <li class="Name">
                Saturn
                </li>
                <li>
                    AU: 9.5
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Uranus"></figure>
                <li class="Name">
                    Uranus
                </li>
                <li>
                    AU: 19.8
                </li>
        </main>
    </div>

    <div class="card-container-2">
        <main class="card-content">
            <figure class="Neptune"></figure>
                <li class="Name">
                    Neptune
                </li>
                <li>
                    AU: 30
                </li>
        </main>
    </div>
