---
layout: layout.liquid
title: Planetary Playing Cards
---

    <div class="card-container-1">
        <div class="card-content">
            <div class="Sun"></div>
                <li class="Star">
                    Sun  
                </li>

                <li>
                    Type: G2v  
                </li>
            </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Mercury"></div>
                <li class="Name">
                    Mercury 
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Venus"></div>
                <li class="Name">
                    Venus
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Earth"></div>
                <li class="Name">
                    Earth
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Mars"></div>
                <li class="Name">
                    Mars
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Jupiter"></div>
                <li class="Name">
                    Jupiter
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Saturn"></div>
                <li class="Name">
                Saturn
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Uranus"></div>
                <li class="Name">
                    Uranus
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>

    <div class="card-container-2">
        <div class="card-content">
            <div class="Neptune"></div>
                <li class="Name">
                    Neptune
                </li>
                <li>
                    Type:G2v
                </li>
        </div>
    </div>
