---
layout: layout.liquid
title: Planetary Playing Cards
---

    <div class="card-container-1">
        <main class="card-content">
            <figure class="Sun"></figure>
                <li class="Star">
                    Sun  
                </li>

                <li>
                    Type: G2v  
                </li>
        </main>
    </div>
    {% planetCard 'Mercury' '0.4' %}

    {% planetCard 'Venus' '0.72' %}

    {% planetCard 'Earth' '1' %}

    {% planetCard 'Mars' '1.5'   %}

    {% planetCard 'Jupiter' '5.2' %}

    {% planetCard 'Saturn' '9.5' %}

    {% planetCard 'Uranus' '19.8' %}

    {% planetCard 'Neptune' '30' %}

