---
layout: layout.liquid
title: 11ty Boilerplate
---

    <div class="card-container-1">
        <div class="Sun"></div>
        <li>
            Sun  
        </li>

        <li>
            Type:G2v  
        </li>
    </div>

    <div class="card-container-2">
        <div class="Earth"></div>
        <li>
            Earth 
            Type:G2v
        </li>
    </div>

    <div class="card-container-2">
        <div class="Mercury"></div>
        <li>
            Mercury 
            Type:G2v
        </li>
    </div>

    <div class="card-container-2">
        <div class="Mars"></div>
        <li>
            Mars
            Type:G2v
        </li>
    </div>
