body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}


.cards-contain {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 160px, auto, 160px;
    column-gap: 20px;
    row-gap: 30px;
    align-items: center;
}

.card-container-1 {
    grid-row: 1 / 3;
    grid-column: 1;
    height: 300px;
    width: 200px;
    border-radius: 5%;
    align-content: center;
    background-color: #4b6cff;
}

.card-container-2 {
    height: 150px;
    width: 100px;
    border-radius: 5%;
    align-items: center;
    background-color: #4b6cff;
}

.Sun {
    height: 150px;
    width: 150px;
    background-color: #efbf3a;
    border-radius: 50%;
}